header{
  background-image: url(img/pattern.png);
  padding: 5%;
}

header img{
  width: 150px;
  margin-left: 20%;
}

.sottotitolo{
  opacity: 50%;
}

main{
  margin: 0,10%;
}

span{
  background-color: yellow;
}

table{
  border-spacing: 0px;
  width: 100%;
}

thead{
  background-color: blueviolet;
}

.colore-1{
  background-color: rgb(137, 174, 230);
}

th{
  width: 1%;
}
 
.monitor1{
  margin: 0%;
  background-image: url(img/monitor.jpg);
  background-repeat: no-repeat;
  color: white;
  font-size: 30px;
  height: 200px;
}

.monitor2{
  margin:0%;
  background-image: url(img/graph.jpg);
  background-repeat: no-repeat;
  color:white;
  font-size: 30px;
  height: 200px;
}